doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Tetris
  link(rel="stylesheet", href="/index.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js", charset="utf-8")

body
  #container
    canvas(id = "canvas", width = "720", height = "400")
    #buttons
      button(id = "btn1", class = "joinBtn", onclick = "join(1)") Join
      button(id = "btn2", class = "joinBtn", onclick = "join(2)") Join
      button(id = "btn3", class = "joinBtn", onclick = "join(3)") Join
      button(id = "btn4", class = "joinBtn", onclick = "join(4)") Join
      button(id = "btn5", class = "joinBtn", onclick = "join(5)") Join
  script(src="index.js", charset="utf-8")
